* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --line-border-fill: rgb(8, 192, 146);
  --line-border-empty: rgb(218, 205, 205);
}

body {
  background: rgb(147 182 234);
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  align-items: center;
}

#t {
  cursor: pointer;
}

.container {
  background: rgb(241, 241, 241);
  height: 70vh;
  width: 45vw;
  z-index: 1;
  border-radius: 5px;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 19vh;
  justify-content: space-around;
}

.title-header {
  margin-bottom: 1rem;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 2rem;
  max-width: 100vw;
  width: 39vw;
  height: 4vh;
}

.progress-container::before {
  content: "";
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  z-index: 2;
  transition: 0.4s ease;
}

.progress {
  background: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 4px;
  z-index: 2;
  transition: 0.4s ease;
}

.circle {
  background: rgb(255, 255, 255);
  color: rgb(153, 153, 153);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
  z-index: 3;
}

.step {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 56px;
  width: 32px;
  justify-content: space-between;
}

.active {
  border-color: var(--line-border-fill);
}

.info {
  display: flex;
  height: 41vh;
  width: 40vw;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  margin: auto;
  padding: 4px;
  box-shadow: 10px;
  box-shadow: 0 2px 2px 2px rgb(0 0 0 / 20%);
  margin-bottom: 1rem;
}
#select-gender,
.info input,
#about-yourself {
  height: 5vh;
  padding-left: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
}
.info #about-yourself {
  height: 10vh;
  padding-top: 0.5rem;
}

.name-div {
  display: flex;
  justify-content: space-between;
}

#first-name,
#last-name {
  width: 49%;
}

.gender-age-div {
  display: flex;
  justify-content: space-between;
}

#select-gender {
  width: 10vw;
}

#age {
  width: 7vw;
}

#birth-day {
  width: 15vw;
}

.password-div {
  display: flex;
  align-items: center;
}
.password-div img {
  margin-left: 0.3rem;
  cursor: pointer;
  outline: none;
}

.password-input {
  width: 37vw;
}

#success {
  font-size: 8vw;
}

#bottom-title {
  color: rgb(178 81 81 / 70%);
}

.btn {
  background: var(--line-border-fill);
  color: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 7px;
  margin: 5px;
  font-size: 15px;
  width: 8vw;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background: var(--line-border-empty);
  cursor: not-allowed;
}

.hidden {
  display: none;
}
